body {
  background-color: peru;
}

.user1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}
.user2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}
.user3 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}
